<p id="notice"><%= notice %></p>

<h1>Ordens</h1>

<table>
  <thead>
    <tr>
      <th>Plato</th>
      <th>Precio</th>
      <th>Pago</th>
      <th>Direccion</th>
      <th>Llegada</th>
      <th>Estado</th>
      <th>Info</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ordens.each do |orden| %>
      <tr>
        <td><%= orden.nombreplato %></td>
        <td><%= orden.precio %></td>
        <td><%= orden.pago %></td>
        <td><%= orden.direccion %></td>
        <td><%= orden.llegada %></td>
        <td><%= orden.estado %></td>
        <td><%= orden.info %></td>
        <td><%= link_to 'Show', orden %></td>
        <td><%= link_to 'Edit', edit_restaurant_orden_path(@restaurant,orden) %></td>
        <td><%= link_to 'Destroy', [@restaurant, orden], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Orden', new_restaurant_orden_path(@restaurant)%>
<%= link_to 'Volver', restaurant_path(@restaurant)%>

