<!DOCTYPE html>
<html>
  <head>
    <title>BeFood</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
  <div>
    <header class="container">
    <div class=" nav nvbar-nav navbar-right">
    <% if signed_in? %>
      <li class="nav-item">
        <%= link_to "Salir", destroy_user_session_path, method: :delete %>
      </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Registrarse", new_user_registration_path %>
        </li>
        <li class="nav-item">
          <%= link_to "Ingresar", new_user_session_path %>
        </li>
    </header>
    <% end %>
    </div>
  </div>
    <%= yield %>
  </body>
</html>
